In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as datetime
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
train = pd.read_csv('featuresTrain4.csv')
test = pd.read_csv('featuresTest4.csv')

In [4]:
train.head()

,id,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,...,provincia_24,provincia_25,provincia_26,provincia_27,provincia_28,provincia_29,provincia_30,provincia_31,provincia_32,provincia_33
0,254099,Benito Juárez,Distrito Federal,2.210044,2.0,1.0,2.0,4.394449,4.394449,23533.0,...,0,0,0,0,0,0,0,0,0,0
1,53461,La Magdalena Contreras,Distrito Federal,2.397895,3.0,2.0,2.0,5.594711,5.198497,24514.0,...,0,0,0,0,0,0,0,0,0,0
2,247984,Tonalá,Jalisco,1.791759,3.0,2.0,2.0,4.976734,5.117994,48551.0,...,0,0,0,0,0,0,0,0,0,0
3,209067,Zinacantepec,Edo. de México,0.693147,2.0,1.0,1.0,4.158883,4.219508,53666.0,...,0,0,0,0,0,0,0,0,0,0
4,185997,Zapopan,Jalisco,2.397895,2.0,1.0,1.0,4.564348,4.564348,47835.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 55 columns):
id                      240000 non-null int64
ciudad                  240000 non-null object
provincia               240000 non-null object
antiguedad              240000 non-null float64
habitaciones            240000 non-null float64
garages                 240000 non-null float64
banos                   240000 non-null float64
metroscubiertos         240000 non-null float64
metrostotales           240000 non-null float64
idzona                  240000 non-null float64
lat                     240000 non-null float64
lng                     240000 non-null float64
precio                  240000 non-null float64
anio                    240000 non-null float64
mes                     240000 non-null float64
dia                     240000 non-null float64
datoBienCargado         240000 non-null int64
peso_IDF_descripcion    240000 non-null float64
peso_IDF_titulo         240000 non-null float64
metrosdescubiertos      240000 non-null float64
tipodepropiedad_cb      240000 non-null float64
caracteristicas_cb      240000 non-null float64
provincia_1             240000 non-null int64
provincia_2             240000 non-null int64
provincia_3             240000 non-null int64
provincia_4             240000 non-null int64
provincia_5             240000 non-null int64
provincia_6             240000 non-null int64
provincia_7             240000 non-null int64
provincia_8             240000 non-null int64
provincia_9             240000 non-null int64
provincia_10            240000 non-null int64
provincia_11            240000 non-null int64
provincia_12            240000 non-null int64
provincia_13            240000 non-null int64
provincia_14            240000 non-null int64
provincia_15            240000 non-null int64
provincia_16            240000 non-null int64
provincia_17            240000 non-null int64
provincia_18            240000 non-null int64
provincia_19            240000 non-null int64
provincia_20            240000 non-null int64
provincia_21            240000 non-null int64
provincia_22            240000 non-null int64
provincia_23            240000 non-null int64
provincia_24            240000 non-null int64
provincia_25            240000 non-null int64
provincia_26            240000 non-null int64
provincia_27            240000 non-null int64
provincia_28            240000 non-null int64
provincia_29            240000 non-null int64
provincia_30            240000 non-null int64
provincia_31            240000 non-null int64
provincia_32            240000 non-null int64
provincia_33            240000 non-null int64
dtypes: float64(18), int64(35), object(2)
memory usage: 100.7+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 54 columns):
id                      60000 non-null int64
ciudad                  60000 non-null object
provincia               60000 non-null object
antiguedad              60000 non-null float64
habitaciones            60000 non-null float64
garages                 60000 non-null float64
banos                   60000 non-null float64
metroscubiertos         60000 non-null float64
metrostotales           60000 non-null float64
idzona                  60000 non-null float64
lat                     60000 non-null float64
lng                     60000 non-null float64
anio                    60000 non-null float64
mes                     60000 non-null float64
dia                     60000 non-null float64
datoBienCargado         60000 non-null int64
peso_IDF_descripcion    60000 non-null float64
peso_IDF_titulo         60000 non-null float64
metrosdescubiertos      60000 non-null float64
tipodepropiedad_cb      60000 non-null float64
caracteristicas_cb      60000 non-null float64
provincia_1             60000 non-null int64
provincia_2             60000 non-null int64
provincia_3             60000 non-null int64
provincia_4             60000 non-null int64
provincia_5             60000 non-null int64
provincia_6             60000 non-null int64
provincia_7             60000 non-null int64
provincia_8             60000 non-null int64
provincia_9             60000 non-null int64
provincia_10            60000 non-null int64
provincia_11            60000 non-null int64
provincia_12            60000 non-null int64
provincia_13            60000 non-null int64
provincia_14            60000 non-null int64
provincia_15            60000 non-null int64
provincia_16            60000 non-null int64
provincia_17            60000 non-null int64
provincia_18            60000 non-null int64
provincia_19            60000 non-null int64
provincia_20            60000 non-null int64
provincia_21            60000 non-null int64
provincia_22            60000 non-null int64
provincia_23            60000 non-null int64
provincia_24            60000 non-null int64
provincia_25            60000 non-null int64
provincia_26            60000 non-null int64
provincia_27            60000 non-null int64
provincia_28            60000 non-null int64
provincia_29            60000 non-null int64
provincia_30            60000 non-null int64
provincia_31            60000 non-null int64
provincia_32            60000 non-null int64
provincia_33            60000 non-null int64
dtypes: float64(17), int64(35), object(2)
memory usage: 24.7+ MB

In [7]:
col_precio = train['precio']
train = train.drop(['id','precio','ciudad','provincia'],axis='columns')
train.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,anio,...,provincia_24,provincia_25,provincia_26,provincia_27,provincia_28,provincia_29,provincia_30,provincia_31,provincia_32,provincia_33
0,2.210044,2.0,1.0,2.0,4.394449,4.394449,23533.0,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
1,2.397895,3.0,2.0,2.0,5.594711,5.198497,24514.0,19.310205,-99.227655,2013.0,...,0,0,0,0,0,0,0,0,0,0
2,1.791759,3.0,2.0,2.0,4.976734,5.117994,48551.0,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
3,0.693147,2.0,1.0,1.0,4.158883,4.219508,53666.0,19.301890,-99.688015,2012.0,...,0,0,0,0,0,0,0,0,0,0
4,2.397895,2.0,1.0,1.0,4.564348,4.564348,47835.0,20.696818,-99.509221,2016.0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
col_precio.head()

0    2273000.0
1    3600000.0
2    1200000.0
3     650000.0
4    1150000.0
Name: precio, dtype: float64

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 51 columns):
antiguedad              240000 non-null float64
habitaciones            240000 non-null float64
garages                 240000 non-null float64
banos                   240000 non-null float64
metroscubiertos         240000 non-null float64
metrostotales           240000 non-null float64
idzona                  240000 non-null float64
lat                     240000 non-null float64
lng                     240000 non-null float64
anio                    240000 non-null float64
mes                     240000 non-null float64
dia                     240000 non-null float64
datoBienCargado         240000 non-null int64
peso_IDF_descripcion    240000 non-null float64
peso_IDF_titulo         240000 non-null float64
metrosdescubiertos      240000 non-null float64
tipodepropiedad_cb      240000 non-null float64
caracteristicas_cb      240000 non-null float64
provincia_1             240000 non-null int64
provincia_2             240000 non-null int64
provincia_3             240000 non-null int64
provincia_4             240000 non-null int64
provincia_5             240000 non-null int64
provincia_6             240000 non-null int64
provincia_7             240000 non-null int64
provincia_8             240000 non-null int64
provincia_9             240000 non-null int64
provincia_10            240000 non-null int64
provincia_11            240000 non-null int64
provincia_12            240000 non-null int64
provincia_13            240000 non-null int64
provincia_14            240000 non-null int64
provincia_15            240000 non-null int64
provincia_16            240000 non-null int64
provincia_17            240000 non-null int64
provincia_18            240000 non-null int64
provincia_19            240000 non-null int64
provincia_20            240000 non-null int64
provincia_21            240000 non-null int64
provincia_22            240000 non-null int64
provincia_23            240000 non-null int64
provincia_24            240000 non-null int64
provincia_25            240000 non-null int64
provincia_26            240000 non-null int64
provincia_27            240000 non-null int64
provincia_28            240000 non-null int64
provincia_29            240000 non-null int64
provincia_30            240000 non-null int64
provincia_31            240000 non-null int64
provincia_32            240000 non-null int64
provincia_33            240000 non-null int64
dtypes: float64(17), int64(34)
memory usage: 93.4 MB

In [10]:
#Solo para featuresTrain2 y featuresTest2 sirve esto
#Convierto a float la columna datoBienCargado ya que en el set de datos train esta en formato int64 y en el
#set de entrenamiento en float64
train_datoBienCargado=train.loc[:,'datoBienCargado'].astype(float64)
train

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,anio,...,provincia_24,provincia_25,provincia_26,provincia_27,provincia_28,provincia_29,provincia_30,provincia_31,provincia_32,provincia_33
0,2.210044,2.0,1.000000,2.000000,4.394449,4.394449,2.353300e+04,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
1,2.397895,3.0,2.000000,2.000000,5.594711,5.198497,2.451400e+04,19.310205,-99.227655,2013.0,...,0,0,0,0,0,0,0,0,0,0
2,1.791759,3.0,2.000000,2.000000,4.976734,5.117994,4.855100e+04,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
3,0.693147,2.0,1.000000,1.000000,4.158883,4.219508,5.366600e+04,19.301890,-99.688015,2012.0,...,0,0,0,0,0,0,0,0,0,0
4,2.397895,2.0,1.000000,1.000000,4.564348,4.564348,4.783500e+04,20.696818,-99.509221,2016.0,...,0,0,0,0,0,0,0,0,0,0
5,1.791759,2.0,1.000000,1.000000,4.330733,4.510860,2.365000e+04,19.300612,-99.148475,2014.0,...,0,0,0,0,0,0,0,0,0,0
6,2.210044,3.0,1.000000,2.000000,4.948760,5.081404,7.351000e+04,17.143504,-96.803504,2016.0,...,0,0,0,0,0,0,0,0,0,0
7,1.098612,4.0,2.000000,3.000000,5.683580,5.683580,1.305100e+05,20.672612,-87.037968,2016.0,...,0,0,0,0,0,0,0,0,0,0
8,0.693147,2.0,1.000000,1.000000,4.077537,5.180463,9.010000e+03,20.696818,-99.509221,2014.0,...,0,0,0,0,0,0,0,0,0,0
9,2.210044,-1.0,1.546874,2.132417,5.525453,5.180463,5.917100e+04,19.316000,-98.887000,2016.0,...,0,0,0,0,0,0,0,0,0,0
10,0.000000,3.0,1.000000,1.000000,4.615121,5.180463,8.754200e+04,22.195878,-101.018956,2013.0,...,0,0,0,0,0,0,0,0,0,0
11,2.210044,3.0,2.000000,4.000000,5.549076,5.180463,3.250950e+05,20.696818,-99.509221,2014.0,...,0,0,0,0,0,0,0,0,0,0
12,0.000000,3.0,2.000000,2.000000,5.141664,4.955827,8.366600e+04,20.682878,-100.317503,2013.0,...,0,0,0,0,0,0,0,0,0,0
13,3.044522,-1.0,0.000000,2.132417,5.429346,5.225747,5.000400e+07,19.374895,-99.149519,2015.0,...,0,0,0,0,0,0,0,0,0,0
14,2.210044,-1.0,2.000000,4.000000,5.525453,5.446737,4.773200e+04,20.729601,-103.431993,2014.0,...,0,0,0,0,0,0,0,0,0,0
15,2.210044,3.0,2.000000,4.000000,5.198497,5.525453,2.423468e+06,19.516583,-99.256028,2015.0,...,0,0,0,0,0,0,0,0,0,0
16,0.000000,3.0,2.000000,3.000000,5.351858,5.620401,8.433800e+04,20.708760,-100.459303,2013.0,...,0,0,0,0,0,0,0,0,0,0
17,1.791759,3.0,2.000000,2.132417,4.852030,4.852030,5.000400e+07,20.696818,-99.509221,2016.0,...,0,0,0,0,0,0,0,0,0,0
18,2.210044,-1.0,0.000000,2.132417,5.164882,5.105945,3.394550e+05,20.696818,-99.509221,2016.0,...,0,0,0,0,0,0,0,0,0,0
19,0.000000,3.0,2.000000,2.000000,4.897840,5.220356,3.394550e+05,20.696818,-99.509221,2016.0,...,0,0,0,0,0,0,0,0,0,0
20,0.000000,-1.0,0.000000,2.132417,5.164882,4.663439,6.872600e+04,20.696818,-99.509221,2013.0,...,0,0,0,0,0,0,0,0,0,0
21,2.210044,3.0,2.000000,4.000000,5.204007,5.017280,2.423468e+06,20.696818,-99.509221,2016.0,...,0,0,0,0,0,0,0,0,0,0
22,0.000000,4.0,1.546874,1.000000,5.192957,5.416100,1.228910e+05,22.264768,-97.841012,2013.0,...,0,0,0,0,0,0,0,0,0,0
23,1.609438,3.0,2.000000,4.000000,5.638355,5.564520,2.423468e+06,21.113768,-86.846323,2015.0,...,0,0,0,0,0,0,0,0,0,0
24,1.609438,3.0,1.546874,3.000000,5.556828,5.180463,8.376300e+04,20.559744,-100.367382,2013.0,...,0,0,0,0,0,0,0,0,0,0
25,2.197225,3.0,2.000000,2.000000,5.017280,4.595120,3.214990e+05,20.696818,-99.509221,2016.0,...,0,0,0,0,0,0,0,0,0,0
26,1.386294,2.0,1.000000,1.000000,3.713572,4.204693,7.853400e+04,20.696818,-99.509221,2014.0,...,0,0,0,0,0,0,0,0,0,0
27,2.944439,3.0,3.000000,3.000000,5.164882,5.726848,2.423468e+06,20.696818,-99.509221,2012.0,...,0,0,0,0,0,0,0,0,0,0
28,0.693147,3.0,2.000000,2.132417,4.795791,4.795791,4.773500e+04,20.714140,-103.453808,2015.0,...,0,0,0,0,0,0,0,0,0,0
29,3.044522,-1.0,0.000000,2.132417,5.017280,5.180463,4.818600e+04,20.784515,-103.477062,2016.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239970,2.397895,5.0,3.000000,4.000000,5.442418,5.180463,4.819200e+04,20.785029,-103.357221,2016.0,...,0,0,0,0,0,0,0,0,0,0
239971,1.609438,3.0,2.000000,2.000000,5.030438,5.030438,5.000400e+07,19.367193,-99.153030,2016.0,...,0,0,0,0,0,0,0,0,0,0
239972,3.044522,5.0,2.000000,2.000000,5.384495,4.795791,2.387200e+04,19.402050,-99.132807,2016.0,...,0,0,0,0,0,0,0,0,0,0
239973,0.693147,2.0,1.000000,2.000000,4.248495,5.180463,2.354800e+04,20.696818,-99.509221,2013.0,...,0,0,0,0,0,0,0,0,0,0
239974,1.609438,3.0,1.546874,3.000000,5.159055,6.001415,5.697600e+04,19.632321,-99.248815,2015.0,...,0,0,0,0,0,0,0,0,0,0
239975,2.210044,3.0,2.000000,2.000000,4.962845,4.859812,1.276250e+05,20.649712,-100.349840,2014.0,...,0,0,0,0,0,0,0,0,0,0
239976,2.210044,3.0,0.000000,3.000000,5.247024,5.525453,1.551400e+04,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
239977,1.791759,1.0,1.000000,1.000000,3.806662,4.189655,5.820100e+04,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
239978,2.210044,3.0,2.000000,2.000000,5.424950,5.247024,5.564200e+04,19.603617,-99.248425,2016.0,...,0,0,0,0,0,0,0,0,0,0
239979,2.397895,3.0,2.000000,1.000000,5.293305,4.812184,2.454700e+04,19.457797,-99.209211,2016.0,...,0,0,0,0,0,0,0,0,0,0
239980,0.693147,2.0,1.546874,1.000000,5.318120,5.180463,8.771300e+04,16.754800,-93.094700,2016.0,...,0,0,0,0,0,0,0,0,0,0
239981,2.397895,2.0,1.000000,1.000000,3.931826,4.189655,2.455000e+03,32.486000,-116.987722,2012.0,...,0,0,0,0,0,0,0,0,0,0
239982,2.210044,2.0,1.000000,1.000000,4.025352,4.510860,2.479000e+03,32.507828,-116.838982,2016.0,...,0,0,0,0,0,0,0,0,0,0
239983,2.210044,3.0,1.546874,2.000000,4.787492,4.094345,8.746000e+04,22.157684,-100.973508,2016.0,...,0,0,0,0,0,0,0,0,0,0
239984,3.044522,2.0,1.000000,1.000000,4.143135,4.189655,6.878900e+04,25.695872,-100.335367,2016.0,...,0,0,0,0,0,0,0,0,0,0
239985,2.397895,3.0,2.000000,2.000000,4.983607,4.477337,5.578500e+04,20.696818,-99.509221,2016.0,...,0,0,0,0,0,0,0,0,0,0
239986,0.000000,3.0,2.000000,2.000000,5.081404,5.081404,3.430150e+05,20.696818,-99.509221,2013.0,...,0,0,0,0,0,0,0,0,0,0
239987,0.000000,3.0,2.000000,1.000000,4.430817,4.510860,7.956000e+04,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
239988,1.791759,-1.0,0.000000,2.132417,5.908083,5.908083,4.737200e+04,20.616413,-103.365752,2015.0,...,0,0,0,0,0,0,0,0,0,0
239989,1.098612,3.0,2.000000,2.000000,5.852202,6.003887,8.378000e+04,20.648319,-100.433545,2016.0,...,0,0,0,0,0,0,0,0,0,0
239990,3.044522,3.0,2.000000,1.000000,4.779123,4.828314,7.208300e+04,25.661179,-100.250566,2014.0,...,0,0,0,0,0,0,0,0,0,0
239991,3.044522,2.0,1.000000,1.000000,4.234107,4.234107,2.411800e+04,19.403309,-99.119023,2015.0,...,0,0,0,0,0,0,0,0,0,0
239992,2.397895,3.0,1.546874,3.000000,5.602119,5.683580,5.558900e+04,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
239993,0.693147,3.0,2.000000,3.000000,5.017280,5.017280,4.804600e+04,20.615574,-103.456215,2015.0,...,0,0,0,0,0,0,0,0,0,0
239994,1.386294,2.0,2.000000,2.000000,5.081404,4.510860,4.802900e+04,20.604484,-103.450049,2013.0,...,0,0,0,0,0,0,0,0,0,0
239995,0.000000,2.0,2.000000,1.000000,4.219508,5.180463,5.366600e+04,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
239996,0.000000,3.0,3.000000,3.000000,5.303305,5.525453,5.195400e+04,19.294665,-99.692916,2014.0,...,0,0,0,0,0,0,0,0,0,0
239997,3.044522,2.0,1.000000,2.000000,4.934474,4.934474,5.000400e+07,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0
239998,3.044522,4.0,0.000000,4.000000,5.463832,4.927254,2.416200e+04,19.366651,-99.082246,2014.0,...,0,0,0,0,0,0,0,0,0,0
239999,0.693147,3.0,2.000000,2.000000,5.010635,5.180463,2.375000e+04,20.696818,-99.509221,2015.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#Solo para featuresTrain2 y featuresTest2 sirve esto
train_datoBienCargado.head()

0    1.0
1    0.0
2    1.0
3    1.0
4    1.0
Name: datoBienCargado, dtype: float64

In [12]:
#Solo para featuresTrain2 y featuresTest2 sirve esto
train["datoBienCargado"]=train_datoBienCargado

In [13]:
#Solo para featuresTrain2 y featuresTest2 sirve esto
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 51 columns):
antiguedad              240000 non-null float64
habitaciones            240000 non-null float64
garages                 240000 non-null float64
banos                   240000 non-null float64
metroscubiertos         240000 non-null float64
metrostotales           240000 non-null float64
idzona                  240000 non-null float64
lat                     240000 non-null float64
lng                     240000 non-null float64
anio                    240000 non-null float64
mes                     240000 non-null float64
dia                     240000 non-null float64
datoBienCargado         240000 non-null float64
peso_IDF_descripcion    240000 non-null float64
peso_IDF_titulo         240000 non-null float64
metrosdescubiertos      240000 non-null float64
tipodepropiedad_cb      240000 non-null float64
caracteristicas_cb      240000 non-null float64
provincia_1             240000 non-null int64
provincia_2             240000 non-null int64
provincia_3             240000 non-null int64
provincia_4             240000 non-null int64
provincia_5             240000 non-null int64
provincia_6             240000 non-null int64
provincia_7             240000 non-null int64
provincia_8             240000 non-null int64
provincia_9             240000 non-null int64
provincia_10            240000 non-null int64
provincia_11            240000 non-null int64
provincia_12            240000 non-null int64
provincia_13            240000 non-null int64
provincia_14            240000 non-null int64
provincia_15            240000 non-null int64
provincia_16            240000 non-null int64
provincia_17            240000 non-null int64
provincia_18            240000 non-null int64
provincia_19            240000 non-null int64
provincia_20            240000 non-null int64
provincia_21            240000 non-null int64
provincia_22            240000 non-null int64
provincia_23            240000 non-null int64
provincia_24            240000 non-null int64
provincia_25            240000 non-null int64
provincia_26            240000 non-null int64
provincia_27            240000 non-null int64
provincia_28            240000 non-null int64
provincia_29            240000 non-null int64
provincia_30            240000 non-null int64
provincia_31            240000 non-null int64
provincia_32            240000 non-null int64
provincia_33            240000 non-null int64
dtypes: float64(18), int64(33)
memory usage: 93.4 MB

In [14]:
def normalize(df):
     result = df.copy()
     for feature_name in df.columns:
         max_value = df[feature_name].max()
         min_value = df[feature_name].min()
         result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
     return result

train_entrenamiento=normalize(train)
train_entrenamiento.head()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,anio,...,provincia_24,provincia_25,provincia_26,provincia_27,provincia_28,provincia_29,provincia_30,provincia_31,provincia_32,provincia_33
0,0.502917,0.272727,0.333333,0.333333,0.489369,0.489369,0.000470,0.661093,0.106726,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.545665,0.363636,0.666667,0.333333,0.851528,0.731977,0.000490,0.653553,0.107866,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.407732,0.363636,0.666667,0.333333,0.665064,0.707687,0.000971,0.661093,0.106726,0.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.157732,0.272727,0.333333,0.000000,0.418291,0.436584,0.001073,0.653508,0.106002,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.545665,0.272727,0.333333,0.000000,0.540633,0.540633,0.000956,0.661093,0.106726,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
train_entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 51 columns):
antiguedad              240000 non-null float64
habitaciones            240000 non-null float64
garages                 240000 non-null float64
banos                   240000 non-null float64
metroscubiertos         240000 non-null float64
metrostotales           240000 non-null float64
idzona                  240000 non-null float64
lat                     240000 non-null float64
lng                     240000 non-null float64
anio                    240000 non-null float64
mes                     240000 non-null float64
dia                     240000 non-null float64
datoBienCargado         240000 non-null float64
peso_IDF_descripcion    240000 non-null float64
peso_IDF_titulo         240000 non-null float64
metrosdescubiertos      240000 non-null float64
tipodepropiedad_cb      240000 non-null float64
caracteristicas_cb      240000 non-null float64
provincia_1             240000 non-null float64
provincia_2             240000 non-null float64
provincia_3             240000 non-null float64
provincia_4             240000 non-null float64
provincia_5             240000 non-null float64
provincia_6             240000 non-null float64
provincia_7             240000 non-null float64
provincia_8             240000 non-null float64
provincia_9             240000 non-null float64
provincia_10            240000 non-null float64
provincia_11            240000 non-null float64
provincia_12            240000 non-null float64
provincia_13            240000 non-null float64
provincia_14            240000 non-null float64
provincia_15            240000 non-null float64
provincia_16            240000 non-null float64
provincia_17            240000 non-null float64
provincia_18            240000 non-null float64
provincia_19            240000 non-null float64
provincia_20            240000 non-null float64
provincia_21            240000 non-null float64
provincia_22            240000 non-null float64
provincia_23            240000 non-null float64
provincia_24            240000 non-null float64
provincia_25            240000 non-null float64
provincia_26            240000 non-null float64
provincia_27            240000 non-null float64
provincia_28            240000 non-null float64
provincia_29            240000 non-null float64
provincia_30            240000 non-null float64
provincia_31            240000 non-null float64
provincia_32            240000 non-null float64
provincia_33            240000 non-null float64
dtypes: float64(51)
memory usage: 93.4 MB

In [16]:
n = 500
knn = KNeighborsRegressor(n_neighbors = n)

In [17]:
parameters_for_testing = {
    'n_neighbors':[110,150,200,250],
}

In [18]:
gsearch1 = GridSearchCV(estimator = knn, param_grid = parameters_for_testing,\
                       n_jobs=2,iid=False, verbose=10,scoring='neg_mean_absolute_error')
gsearch1.fit(train,train_entrenamiento)
print (gsearch1.cv_results_)
print('best params')
print (gsearch1.best_params_)
print('best score')
print (gsearch1.best_score_)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:  1.7min
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:  3.2min
[Parallel(n_jobs=2)]: Done   9 tasks      | elapsed:  9.8min
[Parallel(n_jobs=2)]: Done  12 out of  12 | elapsed: 14.2min finished

{'mean_fit_time': array([5.26303434, 3.60305611, 3.58175683, 3.78444592]), 'std_fit_time': array([1.019021  , 0.08588425, 0.06273997, 0.12270755]), 'mean_score_time': array([ 85.74200257,  93.37377636, 141.54458753, 216.89036139]), 'std_score_time': array([ 7.25350664,  3.5457875 ,  6.38076887, 43.55412774]), 'param_n_neighbors': masked_array(data=[110, 150, 200, 250],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 110}, {'n_neighbors': 150}, {'n_neighbors': 200}, {'n_neighbors': 250}], 'split0_test_score': array([-0.04909832, -0.05037293, -0.05156633, -0.05248156]), 'split1_test_score': array([-0.04921694, -0.05049625, -0.05168165, -0.05258335]), 'split2_test_score': array([-0.04908842, -0.05037278, -0.05159429, -0.05253657]), 'mean_test_score': array([-0.04913456, -0.05041399, -0.05161409, -0.05253383]), 'std_test_score': array([5.83902852e-05, 5.81691697e-05, 4.91176498e-05, 4.16032376e-05]), 'rank_test_score': array([1, 2, 3, 4], dtype=int32)}
best params
{'n_neighbors': 110}
best score
-0.04913456106149419

In [19]:
n = 500
knn = KNeighborsRegressor(n_neighbors = n)
knn.fit(train, train_entrenamiento)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=500, p=2,
                    weights='uniform')

In [20]:
ids = test['id']
test = test.drop(['id','provincia','ciudad'],axis = 1)

In [21]:
prediction = knn.predict(test)

In [37]:
prediction

array([[0.51934209, 0.36527273, 0.58534363, ..., 0.        , 0.        ,
        0.        ],
       [0.27784581, 0.34127273, 0.62738531, ..., 0.        , 0.        ,
        0.        ],
       [0.51651331, 0.33545455, 0.48952077, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.43994858, 0.30945455, 0.4455624 , ..., 0.        , 0.        ,
        0.        ],
       [0.23665819, 0.324     , 0.56526037, ..., 0.        , 0.        ,
        0.        ],
       [0.32932883, 0.35327273, 0.61240621, ..., 0.        , 0.        ,
        0.        ]])

In [35]:
prediction[0].size

51

In [36]:
prediction.size

3060000

In [22]:
# creo el dataframe para entregar:
dataKaggle = pd.DataFrame(ids ,columns={'id'})

In [23]:
dataKaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 1 columns):
id    60000 non-null int64
dtypes: int64(1)
memory usage: 468.8 KB

In [25]:
dataKaggle

           id
0        4941
1       51775
2      115253
3      299321
4      173570
5       30862
6      244471
7      127794
8       71558
9      218011
10     148208
11     155735
12     100698
13     241403
14     195272
15     238663
16     262957
17     207082
18     298896
19     220946
20      74581
21     253578
22      47620
23      92772
24     116904
25     208352
26      76044
27     202667
28      62134
29     277353
...       ...
59970  129589
59971   85388
59972   50185
59973   61187
59974  190799
59975  163414
59976   12355
59977  255748
59978  176567
59979  220463
59980  260742
59981  167651
59982  282440
59983  168663
59984  166605
59985  207997
59986  268896
59987  149564
59988   53975
59989   54441
59990  205625
59991  284266
59992   70244
59993   59776
59994   79100
59995   75094
59996  171847
59997  138313
59998  271268
59999   72612

[60000 rows x 1 columns]

In [28]:
dataKaggle['target'] = prediction

ValueError: Wrong number of items passed 51, placement implies 1

In [ ]:
dataKaggle.head()

In [ ]:
dataKaggle.to_csv("predictionKNN.csv", index = False)